In [1]:
from IPython.display import Image
import requests
import pandas as pd
import plotly.express as px
import csv
from config import census_key

In [2]:
def json_to_dataframe(response):
    """
    Convert response to dataframe
    """
    return pd.DataFrame(response.json()[1:], columns=response.json()[0])

In [4]:
url = "https://api.census.gov/data/2019/pep/charage?get=NAME,POP&DATE_CODE=8,9,10,11,12&DATE_DESC&for=us:*&key={0}".format(census_key)

response = requests.request("GET", url)
#response.text

In [5]:
json_to_dataframe(response)

            NAME        POP DATE_CODE                     DATE_DESC us
0  United States  320635163         8  7/1/2015 Population Estimate  1
1  United States  322941311         9  7/1/2016 Population Estimate  1
2  United States  324985539        10  7/1/2017 Population Estimate  1
3  United States  326687501        11  7/1/2018 Population Estimate  1
4  United States  328239523        12  7/1/2019 Population Estimate  1

In [6]:
# By state
url_state = "https://api.census.gov/data/2019/pep/charage?get=NAME,POP&for=state:*&key={0}".format(census_key)
response = requests.request("GET", url_state)

In [7]:
df_pop_by_state = json_to_dataframe(response)

df_pop_by_state['POP'] = df_pop_by_state['POP'].astype(int)
df_pop_by_state_sort = df_pop_by_state.sort_values(by=['POP'], ascending=False).head(5)
print('Top 5 states with largest population estimate:')
df_pop_by_state_sort

Top 5 states with largest population estimate:

            NAME       POP state
5     California  39512223    06
44         Texas  28995881    48
10       Florida  21477737    12
33      New York  19453561    36
39  Pennsylvania  12801989    42

In [8]:
top_5_state_list = df_pop_by_state_sort['state'].tolist()

print('list of top 5 states:', top_5_state_list)

list of top 5 states: ['06', '48', '12', '36', '42']

In [9]:
state_str = ','.join(top_5_state_list)
print('list of states as one string:', state_str)

list of states as one string: 06,48,12,36,42

In [10]:
url = "https://api.census.gov/data/2019/pep/charage?get=NAME,POP&AGE=16&for=state:{0}&key={1}".format(state_str, census_key)

response = requests.request("GET", url)
json_to_dataframe(response)

           NAME     POP AGE state
0      New York  227902  16    36
1  Pennsylvania  154083  16    42
2         Texas  414872  16    48
3    California  501846  16    06
4       Florida  234530  16    12

In [12]:
url = "https://api.census.gov/data/2019/pep/charage?get=NAME,POP&HISP=1,2&DATE_CODE=7,8,9,10,11,12&DATE_DESC&for=state:06&key={0}".format(census_key)
response = requests.request("GET", url)

In [13]:
df_hisp_by_year = json_to_dataframe(response)
df_hisp_by_year.head()

         NAME       POP HISP DATE_CODE                     DATE_DESC state
0  California  23751059    1         7  7/1/2014 Population Estimate    06
1  California  14845913    2         7  7/1/2014 Population Estimate    06
2  California  23887418    1         8  7/1/2015 Population Estimate    06
3  California  15030627    2         8  7/1/2015 Population Estimate    06
4  California  23961388    1         9  7/1/2016 Population Estimate    06